:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #740006ca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(23, 23, 23);
  color: white;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  border: 3px solid transparent;
}

.header {
  width: 100%;
  height: 25vh;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
.wrapper {
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(0, 0, 0, 1), rgba(23, 23, 23, 1));
}
.wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.search-container {
  background: linear-gradient(180deg, rgb(0, 0, 0, 1), rgba(23, 23, 23, 1));
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.search-element h3 {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: #868686;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.search-element .form-control {
  position: relative;
  display: inline-block;
  background-color: rgb(46, 46, 46);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  color: rgba(147, 137, 0, 0.632);
  outline: none;
  width: 500px;
  top: 20px;
  z-index: 1;
}

.search-list {
  position: absolute;
  right: 0;
  top: 150%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
  border-radius: 10px;
}
.search-list .search-list-item {
  background-color: var(--light-dark-color);
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  width: calc(500px - 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}
.search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
}
.search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar {
  width: 8px;
}
.search-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
  outline: none;
  border-radius: 10px;
}

.hide-search-list {
  display: none;
}

/* movie result */
.result-container {
  padding: 3rem 0;
}
.movie-poster img {
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
}
.movie-info {
  text-align: center;
  color: #fff;
  padding-top: 3rem;
}

/* movie info stylings */
.movie-title {
  font-size: 2rem;
  color: var(--yellow-color);
}
.movie-misc-info {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem;
}

.movie-info .year {
  font-weight: 500;
}
.movie-info .rated {
  background-color: var(--yellow-color);
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}
.movie-info .imbdb-rating{
  
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .imbdb-rating i{
    color: #f5d400;
}
.movie-info .released {
  font-size: 0.9rem;
  opacity: 0.9;
}
.movie-info .writer {
  padding: 0.5rem;
  margin: 1rem 0;
}
.movie-info .genre {
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}
.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
}
.movie-info .language {
  color: var(--yellow-color);
  font-style: italic;
}
.movie-info .awards {
  font-weight: 300;
  font-size: 0.9rem;
}
.movie-info .awards i {
  color: var(--yellow-color);
  margin: 1rem 0.7rem 0 0;
}

@media (max-width: 450px) {
  .logo p {
    font-size: 1.4rem;
  }
  .search-element .form-control {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
  .search-element h3 {
    font-size: 1.4rem;
  }
  .search-list {
    width: 90%;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .search-list .search-list-item {
    width: 100%;
  }
  .movie-misc-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .movie-misc-info li:nth-child(2) {
    margin: 0.8rem 0;
  }
}

@media (min-width: 800px) {
  .search-element {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .search-element h3 {
    margin-bottom: 0;
  }
  .result-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-info {
    text-align: left;
    padding-top: 0;
  }
  .movie-info .movie-misc-info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0;
  }
  .movie-info .plot {
    margin-left: 0;
  }
  .movie-info .writer {
    padding-left: 0;
    margin-left: 0;
  }
}
